                body:before {
                    white-space: pre;
                    font-family: monospace;
                    content: "Error: Undefined mixin 'mv-media'.\A         on line 7 of ./sass/partials/jewellery-care.scss, in `mv-media'\A         from line 7 of ./sass/partials/jewellery-care.scss\A \A 2:     .heading {\A 3:         h2 {\A 4:             font-size: 200px;\A 5:             line-height: 150px;\A 6: \A 7:             @include mv-media(max, 767px) {\A 8:                 font-size: 110px;\A 9:                 line-height: 65px;\A 10:             }\A 11: \A 12:             @include mv-media(max, 700px) {";
                }