#awards{
	
	.awards-section{

		.heading {
			h2 {
				text-align: center;
				@include mv-media(max,767px) {
					font-size: 110px;
				}
				@include mv-media(max,700px) {
					font-size: 60px;
				}
				@include mv-media(320px,340px) {
					font-size: 75px;
				}
			}

			.timeline-year{
				font-size: 75px;
			}

			p{
				text-align: center;
				padding-bottom: 40px;
			}
		}
	}

}
