#contact {
	.form_wrapper {
		background-color: #160d11;
		color: $color-white;
		padding: 40px;
		position: relative;
		// overflow: hidden;
		margin-bottom: 50px;

		.earings {
			position: absolute;
			top: -32px;
			right: 30px;
			width: 200px;
			height: auto;

			@include mv-media(max, 767px) {
				width: 150px;
			}
		}

		.space-bottom {
			margin-bottom: 15px;
			margin-left: 0;
		}

		.address_box {
			margin-bottom: 80px;

			@include mv-media(max, 767px) {
				margin-bottom: 40px;
			}

			p {
				letter-spacing: 2px;
				// display: inline-block;
				// margin-left: 15px;
				line-height: 20px;

				@include mv-media(max, 767px) {
					display: block;
					margin: 0px 0 15px;
				}

				&:first-child {
					display: flex;

					margin: 0px 0 15px;

					@include mv-media(max, 767px) {
						// margin: 80px 0 15px;
					}

					span {
						position: relative;
						top: -5px;
					}

					img {
						height: 25px;
					}
				}

				&:nth-child(2) {
					margin-left: 0;
				}

				img {
					height: 20px;
					width: auto;
					margin-right: 10px;
				}

				span {
					position: relative;
					top: -5px;

					a {
						color: $color-white;
						text-decoration: none;

						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}

		.form {
			.input-field {

				label {
					padding-left: 30px;
					color: rgba(255, 255, 255, 0.5);
					font-size: 12px;
					letter-spacing: 2px;
					text-transform: capitalize;
				}

				input,
				textarea {
					letter-spacing: 4px;
					color: $color-white;
					font-size: 14px;
					text-transform: capitalize;
					padding-left: 10px;
					line-height: 18px;
				}
			}

			.error {
				color: red;
				letter-spacing: 1px;
			}
		}
	}

	.affiliat_imges {
		@include mv-media(max, 1023px) {
			margin-bottom: 20px;
		}

		@include mv-media(max, 767px) {
			margin-bottom: 20px;
		}

		li {
			color: $color-white;
			margin: 0 5px;

			span {
				font-family: $body-font;
				text-transform: uppercase;
				color: $color-white;
				letter-spacing: 4px;
			}

			img {
				width: 115px;

				@include mv-media(max, 1023px) {
					width: 65px;
				}

				@include mv-media(max, 767px) {
					width: 50px;
				}
			}

			&:first-child {
				position: relative;
				top: -40px;

				@include mv-media(max, 1023px) {
					top: -20px;
				}

				@include mv-media(max, 767px) {
					display: block;
				}
			}
		}
	}

	
}
