#edge{
	position: relative;
	// margin-bottom: 50px;
	@include mv-media(max,600px) {
		margin-bottom: 0px;
	}
	.heading {
		h2 {
			@include mv-media(max,767px) {
				font-size: 110px;
			}
			@include mv-media(max,700px) {
				font-size: 80px;
			}
			@include mv-media(320px,340px) {
				font-size: 75px;
			}
		}
	}

	img.earing{
		position: absolute;
			right: 2px;
			bottom: -140px;
			width: 150px;
			height: auto;
			@include mv-media(max,600px) {
				right: -2px;
				width: 135px;
			}
	}

	.news_wrap{
		background-color: #fff;
		padding: 20px 20px 10px;
		overflow: hidden;
		margin-bottom: 30px;
		img.news{
			box-shadow: 0px 0px 7.6px 0.4px rgba(0, 0, 0, 0.35);
    	border: 1px solid #acacac;
		}
		.date-download{
			margin-top: 10px;
			h3{
				margin: 0;
				font-size: 16px;
				font-weight: 600;
				text-align: center;
				// font-family:$body-font-regular;
				// font-family: 'raleway-medium';
				font-family: initial;
				color:  #2c161e;
				letter-spacing: 2px;
				margin-bottom: 2px;
			}
			img,a{
				display: inline-block;
				@include mv-media(768px,991px) {
					width: 18px;
				}
			}
			span{
				position: relative;
				font-family:$body-font-regular;
				letter-spacing: 2px;
				font-size: 15px;
				font-weight: 500;
				top: -5px;
				color: #b7874c;
				padding-left: 5px;
				// @include mv-media(max, 767px) {
				// 	font-size: 10px;
				// }
				@include mv-media(768px,991px) {
					font-size: 13px;
					top: -4px
				}
			}
		}
	}

}
