footer {
    background: $color-black;
    font-family: $body-font;
    color: $color-white;
    padding: 25px 0;

    .middle-align-section {
        @include mv-media(min, 768px) {
            display: flex;
            align-items: center;
        }
    }

    ul {
        li.social-icons {
            background-image: url(../img/social_bg.png);
            display: inline-block;
            background-repeat: no-repeat;
            text-align: center;
            padding: 0;
            margin: 0 8px;

            a {
                color: #c9904e;
                display: inline-block;
                width: 43px;
                height: 43px;
                line-height: 43px;

                img {
                    position: relative;
                    top: 3px;
                }

            }

            &:first-child a img {
                top: 5px;
            }
        }
    }

    .ting-unit-wrap {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transform: scale(0.7);

        //            margin-top: 10px;
        @include mv-media(max, 767px) {
            margin-top: 10px;
        }

        @include mv-media(max, 991px) {
            text-align: center;
            justify-content: center;
            //                margin-top: 10px;
        }

        .made-by-text {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            p {
                color: #fff;
                font-family: $Lato-Black;
                background-color: #311419;
                margin-bottom: 3px;
                padding: 2px 8px;
                border-radius: 3px;
                letter-spacing: 2px;
                font-size: 11px;
                text-transform: uppercase;
                top: 0;
                position: relative;
            }
        }

        img {
            display: inline-block;
            vertical-align: middle;
            width: 90px;
            margin-left: 5px;

            @include mv-media(max, 991px) {
                // margin: 0 auto;
            }

            &.black-logo {
                filter: invert(1);
            }
        }

        h6 {
            color: #fff;
            font-family: $Lato-Black;
            font-size: 18px;

            a {
                color: #c37bd1;
                text-decoration: none;
                transition: all 0.5s ease-in;

                &:hover {
                    color: #c37bd1;
                    text-decoration: none;
                }
            }
        }
    }

    p {
        letter-spacing: 3px;
        font-family: $body-font;
        text-transform: capitalize;
        margin: 0px;

        @include mv-media(max, 767px) {
            line-height: 14px;
            font-size: 12px;
        }

        &:first-child {
            margin-bottom: 15px;
        }

        a {
            color: $color-white;
            @include transition;

            &:hover {
                color: $gold-yellow;
                font-weight: bold;
            }
        }
    }
}
