/*	==========================================================================
	Author: Mvishal Shukla
	Updated: --/--/--
	Notes: Hand Coded SCSS.
	========================================================================== */

header{
	padding-top: 15px;
	padding-bottom: 15px;

	a.logo{
		display: inline-block;
		width: 175px;
		@include mv-media(max,767px) {
			width: 150px;
		}
		@include mv-media(300px,400px) {
			width: 125px;
		}

		img{
			width: 100%;
		}
	}	
}

