#history{
	position: relative;
	overflow: hidden;

	.heading h2{
		display: inline-block;
		position: relative;
		.bangle{
			position: absolute;
		    width: 100px;
	    	top: 0px;
	    	right: -165px;
		    width: 180px;
		    @include mv-media(992px,1199px) {
	      		right: -140px;
			    width: 150px;
			    top: 10px;
	        }
	        @include mv-media(768px,991px) {
	      		right: -130px;
    			width: 140px;
    			top: 5px;
	        }
		    @include mv-media(401px,767px) {
	      		right: -90px;
			    width: 100px;
			    top: 10px;
	        }
		    @include mv-media(341px,400px) {
	      		right: -80px;
			    width: 90px;
			    top: 10px;
	        }
	        @include mv-media(300px,340px) {
	      		right: -65px;
			    width: 70px;
			    top: 20px;
	        }
		}
	}

	
	.padd-t-100{
	    padding-top: 100px;
	    
		@include mv-media(max,991px) {
	        padding-top: 20px;
	    }
	}
	.history_desc{

		@include mv-media(max,767px) {
	        margin-bottom:50px;
	    }
	    

	    img{
	    	@include mv-media(max,767px) {
		        padding: 10px;
		    }
	    }
		.desc{
			position: relative;
		    margin-left: 5%;
		    margin-top: 50px;
		    @include mv-media(992px,1199px) {
	           margin-top: 25px;
	        }
	        @include mv-media(768px,991px) {
	           margin-left: 2%;
	           max-height: 170px;
	           overflow: hidden;
	           overflow-y:scroll;
	           padding-right: 8px; 
	           margin-top: 35px;
	        }
		    @include mv-media(max,767px) {
	           margin-left: 0%;
	           margin-top: 0px
	        }

			p{
				color:$color-white;
				font-family: $body-font;
				font-size: 14px;
				line-height: normal;
				line-height: 22px;
				letter-spacing: 2px;
				text-align: justify;
			}
		}
	}
	
	.odd{
		margin-left: 0;
		margin-right: 5%;
		@include mv-media(max,767px) {
			margin-right: 0%;
        }

	}
}