#animation_container {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 250px;
	height: 130px
}



//Banner

#banner {
	position: relative;
	overflow: hidden;
	font-family: $body-font;
	background-color: #311419;
	z-index: 100;
	height: 100vh;
	transform: translateY(0%);
	@include transitionSlider;

	@include mv-media(max, 767px) {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
	}

	.scroll_down {
		position: absolute;
		bottom: 2%;
		left: 50%;
		transform: translateX(-50%);
		cursor: pointer;

		img {
			width: 20px;
			height: auto;
		}
	}

	.banner_section1 {
		background-image: url('../img/banner3.png');
		background-size: cover;
		background-position: center;

		@include mv-media(max, 767px) {
			background-image: url('../img/mobile-banner3.jpg');
		}
	}

	.banner_section2 {
		background-image: url('../img/banner2.png');
		background-size: cover;
		background-position: center;

		@include mv-media(max, 767px) {
			background-image: url('../img/mobile-banner2.jpg');
		}
	}
}



// Slider Starts
#slider_wrapper {
	@include transition;
	overflow: hidden;
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9;

	@include mv-media(max, 767px) {
		position: static;
		transform: none;
		top: unset;
		left: unset;
	}

	a.frontpage_logo {
		display: inline-block;
		width: 175px;
		padding: 15px 0;

		@include mv-media(max, 767px) {
			width: 125px;
		}

		img {
			width: 100%;
		}
	}

	.slick-vertical .slick-slide {
		border: 0px;
	}

	.split-slideshow {
		position: relative;
		top: 0%;
		left: 50%;
		width: 85%;
		height: 450px;
		overflow: hidden;
		transform: translate(-50%, 0%);

		.slideshow {
			position: absolute;
			z-index: 10;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;

			.slider {
				width: 100%;
				height: 100%;
				z-index: 10;
				outline: none;
				margin-bottom: 0;

				.item {
					height: 100%;
					width: 100%;
					position: relative;
					overflow: hidden;
					border: none;

					img {

						position: absolute;
						top: 50%;
						left: 50%;
						-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
						width: auto;
						// height: 100%;
					}

					.show_desktop_portrait {
						display: block;

						@media only screen and (min-width: 320px) and (max-width: 500px) and (orientation: portrait) {
							display: none;
						}
					}

					.show_mobile_portrait {
						display: none;

						@media only screen and (min-width: 320px) and (max-width: 500px) and (orientation: portrait) {
							display: block;
							height: 100%;
						}
					}
				}
			}
		}

		.slideshow-right {
			left: 0;
			z-index: 15;
			height: 100%;
			pointer-events: none;
			width: 50%;

			.slider {
				left: 0;
				position: absolute;
				outline: none;
			}
		}
	}

	.slider_details {
		position: relative;
		z-index: 99;
		padding: 10px 0 15px;
		// width: 80%;
		margin: 0 auto;

		@include mv-media(max, 767px) {
			text-align: left;
		}

		.slideshow-number {
			position: relative;
			bottom: 5%;
			right: 0%;
			z-index: 5;
			display: inline-block;
			text-align: center;
			width: 100%;
			font-family: $body-font-medium;
			font-size: 12px;
			letter-spacing: 2px;

			.item {
				z-index: 100;
				font-family: $body-font-medium;
				font-size: 16px;
				letter-spacing: 4px;
				font-weight: bold;
				background: linear-gradient(to right, #d09351 50%, #b55d39 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				font-weight: 100;
				pointer-events: none;
				text-transform: capitalize;
				position: relative;
				top: -2px;

				@include mv-media(max, 767px) {
					text-align: left;
				}

			}
		}

		.slideshow-text {
			z-index: 11;

			.slick-slide img {
				width: 40px;
				position: relative;
				display: inline-block;
				top: 2px;
			}

			.know_more {
				font-family: $body-font-regular;
				color: $gold-yellow;
				text-align: right;
				letter-spacing: 4px;
				font-size: 10px;
				width: auto !important;
				text-transform: uppercase;

				@include mv-media(max, 767px) {
					padding-right: 0px;
					font-size: 12px;
				}

			}
		}

		.next_btn {
			border-radius: 0px;
			border: 0px;
			background-color: transparent;
			font-size: 12px;
			color: $gold-yellow;
			text-transform: uppercase;
			letter-spacing: 4px;
			z-index: 12;
			font-weight: bold;
			margin-top: 5px;
			display: inline-block;
			text-align: center;

			&:focus {
				outline: 0;
				outline: 0;
				outline-offset: 0;
			}

			@include mv-media(min, 1350px) {
				margin-top: 10px;
			}

		}
	}

}



.slide-up-banner {
	transform: translateY(-100%) !important;
}


// Slider Ends