#media_corner{
	position: relative;
	overflow: hidden;

	.heading{
		h2{
			position: relative;
			display: inline-block;
			@include mv-media(max,767px) {
				font-size: 110px;
			}
			@include mv-media(max,700px) {
				font-size: 85px;
			}
			@include mv-media(320px,340px) {
				font-size: 75px;
			}
			.ring{
				position: absolute;
			    top: 20px;
			    right: -150px;
			    transform: translateX(-50%);
			    width: 100px;
			    height: auto;
			    @include mv-media(max,767px) {
					width: 65px;
					right: -100px;
				}
			    @include mv-media(max,700px) {
					width: 50px;
    				right: -75px;
				}
			    @include mv-media(320px,340px) {
					width: 50px;
    				right: -75px;
				}
			}
		}
	}
	
	.media_gallery{
		position: relative;
		overflow: hidden;
		margin-bottom: 200px;
		// @include mv-media(max,1199px) {
		// 	margin-bottom: 200px;
		// }

		.media_item{
			display: block;
			margin-bottom: 30px;
			@include mv-media(max,767px) {
				margin-bottom: 10px;
			}
			img{
				margin: 0 auto;
				@include mv-media(max,767px) {
					padding: 15px;
				}
			}
		}
	}

	.sticky_img{
		position: absolute;
		left: 0;
		bottom: 0;
		height: auto;
		width: 250px;
		@include mv-media(max,767px) {
			left: 50%;
			transform:translateX(-50%);
		}
	}
	
	.desc{
		position: relative;
	    margin-left: 5%;
	    margin-top: 50px;
		p{
			color:$color-white;
			font-family: $body-font;
			font-size: 14px;
			line-height: normal;
			line-height: 22px;
			letter-spacing: 2px;
			text-align: justify;
		}
	}
}

#gallery{
	.modal-dialog{
		// margin:0px !important;
		// top: 50%;
		// left: 50%;
		// transform:translate(-50%,-50%) !important;
		@include mv-media(max,767px) {
			padding: 30px;
		}

		.close{
			position: absolute;
			top:-20px;
			right: -20px;
			width: 40px;
			height: 40px;
			line-height: 35px;
			font-size: 35px;
			opacity: 1;
			background: #2c161e;
			z-index: 9999;
			text-shadow:none;
			color: $gold-yellow;
			border-radius: 50%;

		}

		.modal-content{
			border-radius: 0px;
			border:0px;
		}
	}
	.modal-body{
		padding: 0;

		.slick-slider .slick-track, .slick-slider .slick-list{
			// transform:none;
			transform:translate3d( 0, 0, 0);

		}

		.slick-slide img{
			display: inline-block;
		}
		
		.item{
			background-color: #fff;
		}
		.slick-prev, .slick-next{
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: #000;
			color: $gold-yellow;
			z-index: 99;
			&:before{
				opacity: 1;
				color: $gold-yellow;
			}
		}
		.slick-prev{
			left: -60px;
			@include mv-media(max,767px) {
				left: -45px;
			}
		}
		.slick-next{
			right: -60px;
			@include mv-media(max,767px) {
				right: -45px;
			}
		}
		.media_content{
			margin-top:60px;
			@include mv-media(max,767px) {
				margin-bottom:60px;
			}

			p{
				font-size: 13px;
				line-height: 20px;
				text-align: justify;
				color: #000;
				font-family: $body-font;
				padding: 20px;
				font-weight: 600;
			}
			.logo{
				width: 150px;
				margin-top: 10px;
			}
		}

	}
}