#milestone {
    position: relative;
    overflow: hidden;

    .heading {
        h2 {
            position: relative;
            display: inline-block;

            @include mv-media(max, 767px) {
                font-size: 120px;
            }

            @include mv-media(max, 700px) {
                font-size: 95px;
            }

            @include mv-media(320px, 340px) {
                font-size: 95px;
            }

            .ring {
                position: absolute;
                top: 20px;
                right: -150px;
                transform: translateX(-50%);
                width: 100px;
                height: auto;

                @include mv-media(992px, 1199px) {
                    width: 75px;
                    right: -115px;
                    top: 30px;
                }

                @include mv-media(768px, 991px) {
                    width: 80px;
                    right: -125px;
                }

                @include mv-media(max, 767px) {
                    width: 65px;
                    right: -100px;
                }

                @include mv-media(max, 700px) {
                    width: 50px;
                    right: -80px;
                }

                @include mv-media(320px, 340px) {
                    width: 45px;
                    right: -70px;
                }
            }
        }
    }

    .desc {
        width: 65%;
        margin: 50px auto 0;
        color: $color-white;
        line-height: 22px;
        font-size: 14px;
        letter-spacing: 2px;

        @include mv-media(768px, 991px) {
            width: 80%;
            margin: 25px auto 0;
        }

        @include mv-media(max, 767px) {
            width: 90%;
            margin: 0px auto 0;
        }

        p {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .timeline_details {
        position: relative;

        .details {
            position: absolute;
            top: 45%;
            transform: translateY(-50%);

            h3.date {
                color: $color-white;
                font-family: $heading-font;
                margin: 0;
                font-size: 75px;
            }

        }
    }

    .bangle {
        position: absolute;
        bottom: 2%;
        left: 0%;
        width: 250px;
        height: auto;
    }

}

p {
    line-height: 22px;
    font-size: 16px;
    letter-spacing: 2px;
    color: #fff;

    @include mv-media(max, 767px) {
        font-size: 14px;
    }
}

.main-timeline {
    position: relative;
    margin-bottom: 100px;

    .timeline {
        position: relative;
        z-index: 1;

        &:before {
            content: url('../img/border.png');
            position: absolute;
            left: 51%;
            transform: translateX(-50%);
            bottom: -70px
        }

        &:last-child {
            &:before {
                content: none;
            }
        }

        &:nth-child(even) .content {
            float: right;
            margin-left: 0%;
            margin-right: 5%;
            padding-right: 50px;
            text-align: right;

            @include mv-media(max, 767px) {
                margin-right: 0%;
                padding-right: 0px;
            }
        }

        &:nth-child(odd) .content {
            padding-left: 50px;
            text-align: left;

            @include mv-media(max, 767px) {
                padding-left: 0px;
            }
        }

        &:nth-child(even) .timeline-icon {
            right: 2%;
            left: auto;
            display: inline-block;
            width: 45%;
            float: right;

            @include mv-media(max, 767px) {
                width: 100%;
                right: 0;
            }

            img {
                position: relative;
                right: 50px;
                padding-left: 0;
                padding-right: 15px;

                @include mv-media(max, 767px) {
                    right: 0px;
                    padding-right: 0px;
                }
            }
        }

        &:nth-child(odd) .timeline-icon {
            right: auto;
            left: 2%;
            display: inline-block;
            width: 45%;
            float: left;
            margin-left: 2%;

            @include mv-media(max, 767px) {
                width: 100%;
                left: 0;
                margin-left: 0%;
            }

            img {
                position: relative;
                left: 50px;
                padding-left: 15px;
                padding-right: 0;

                @include mv-media(max, 767px) {
                    left: 0px;
                    padding-left: 0px;
                }
            }
        }


        .timeline-content {
            display: block;
            margin: 100px 0 0;

            .rosentiques-image-text {
                background-color: #d7a156;
                padding: 55px;

                h3 {
                    color: #a43e2d;
                    font-weight: bold;
                }
            }

            &:after {
                content: '';
                display: block;
                clear: both;
            }

            .content {
                .details {
                    p {
                        .bold-test {
                            font-weight: bold;
                        }
                    }
                    .journey-link{
                        text-decoration: none;
                        color: inherit;
                        font-weight: bold;
                    }
                }
            }
        }
    }





    .content {
        display: inline-block;
        float: left;
        width: 45%;
        color: #909090;
        position: relative;
        margin-left: 5%;
        margin-top: 50px;

        @include mv-media(768px, 991px) {
            margin-top: 2px;
        }

        @include mv-media(max, 767px) {
            width: 100%;
            margin-left: 0%;
            margin-top: 0px;
        }


        h3.date-even {
            background: linear-gradient(to right, #d59c53 10%, #a43e2d 25%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #d7a156;
            font-family: $heading-font;
            margin: 0;
            font-size: 75px;
        }
        h3.date-odd {
            background: linear-gradient(to left, #d59c53 10%, #a43e2d 25%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #d7a156;
            font-family: $heading-font;
            margin: 0;
            font-size: 75px;
        }

        p {
            color: $color-white;
            line-height: 22px;
            font-size: 13px;
            letter-spacing: 2px;
        }
    }

    .description {
        font-size: 15px;
        letter-spacing: 1px;
        margin: 0;
    }
}