#newsletter{
	position: relative;
	overflow: hidden;
	.heading {
		h2 {
			@include mv-media(max,767px) {
				font-size: 110px;
			}
			@include mv-media(max,700px) {
				font-size: 85px;
			}
			@include mv-media(320px,340px) {
				font-size: 75px;
			}
		}
	}

	.sliderWRapper{
		position: relative;
		@include mv-media(max,991px) {
			margin: 20px;
		}
		@include mv-media(max,767px) {
			margin: 10px;
		}

		img.bracelet{
			position: absolute;
		    top: -25px;
		    z-index: 9;
		    width: 260px;
		    height: auto;
		    left: -45px;
		    @include mv-media(max,600px) {
				top: -13px;
			    width: 150px;
			    left: -25px;
			}
		}
		img.earing{
			position: absolute;
		    right: 2px;
		    bottom: -110px;
		    width: 180px;
		    height: auto;
		    @include mv-media(max,600px) {
			    bottom: -85px;
		    	right: -2px;
			    width: 125px;
			}
		}
	}
	.newsletter_wrapper{
		background-color: #160d11;
		color: $color-white;
		padding: 20px;
		position: relative;
		margin-bottom: 50px;
		position: relative;
		overflow: hidden;

		.newsSlider{
			padding: 30px;
			@include mv-media(max,767px) {
				padding: 10px;
			}

			.item{
				padding: 10px;
				.date-download{
					background-color: #fff;
					color: #b7874c;
					overflow: hidden;
					padding: 5px 15px;
					h3{
						margin: 0;
						font-size: 16px;
						font-weight: 600;
						text-align: center;
						font-family:$body-font-regular;
						color:  #2c161e;
						letter-spacing: 2px;
						margin-bottom: 2px;
					}
					img,a{
						display: inline-block;
						@include mv-media(768px,991px) {
							width: 18px;
						}
					}
					span{
						position: relative;
						font-family:$body-font-regular;
						letter-spacing: 2px;
						font-size: 15px;
						font-weight: 500;
						top: -5px;
						color: #b7874c;
						@include mv-media(768px,991px) {
							font-size: 13px;
							top: -4px
						}
					}
				}
			}
			.slick-prev, .slick-next{
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: #2c161e;
				&:before{
					color: #b7874c;
					font-size: 22px;
					opacity: 1;
				}
			}
			.slick-prev{
				left: -40px;
				@include mv-media(max,767px) {
					left: -30px;
				}
			}
			.slick-next{
				right: -40px;
				@include mv-media(max,767px) {
					right: -30px;
				}
			}


		}
		
	}
	

}