#collections {
    position: relative;
    overflow: hidden;
    padding-bottom: 0 !important;

    .heading {
        h2 {
            position: relative;
            text-align: center;
            font-size: 100px;


            @include mv-media(max, 767px) {
                font-size: 95px;
            }

            @include mv-media(320px, 340px) {
                font-size: 80px;
            }
        }

        p {
            margin: 4% 0;
        }
    }

    .img_wrap {
        position: relative;
        overflow: hidden;
    }

    .b2b-subheading {
        font-family: $body-font-medium;
        font-size: 30px;
        color: $gold-yellow;
        text-transform: uppercase;
        margin: 0;
        letter-spacing: 1px;

        @include mv-media(max, 767px) {
            font-size: 20px;
            line-height: 26px;
            text-align: center;
        }

        @include mv-media(768px, 1024px) {
            font-size: 25px;
        }
    }

    .b2b-section {
        img {
            margin: 30px auto 60px;
            width: 120px;
        }
    }

    .b2b-description p {
        margin: 2% 0 4% !important;

        @include mv-media(max, 767px) {
            margin: 4% 0 8% !important;
        }
    }

    .video-section {
        margin-bottom: 4%;
        position: relative;

        .video-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;

            img {
                @include mv-media(max, 767px) {
                    width: 50px;
                }
            }
        }
    }

    .desc {
        display: none;
        width: 80%;
        margin: 50px auto;

        @include mv-media(max, 767px) {
            width: 90%;
            margin: 25px auto;
        }

        color: $color-white;
        line-height: 22px;
        font-size: 14px;
        letter-spacing: 2px;

        p {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .collection_list {
        position: relative;

        @include mv-media(max, 767px) {
            margin-top: 20px;
        }

        .items {
            position: relative;
            margin-bottom: 20px;

            img {
                @include mv-media(max, 767px) {
                    margin: 0 auto;
                }
            }

            a {
                display: inline-block;

                @include mv-media(max, 767px) {
                    display: block;
                }

            }

            .overlay {
                position: absolute;
                top: $a;
                right: $a;
                bottom: $a;
                left: $a;
                background-color: rgba(50, 20, 26, 0.75);
                z-index: 2;
                text-align: center;
                opacity: 0;
                @include transition;

                @include mv-media(max, 767px) {
                    display: none;
                }

                a {
                    display: block;
                    height: 100%;
                    cursor: pointer;

                    img {
                        position: absolute;
                        top: $b;
                        left: $b;
                        transform: translate(-$b, -$b);
                        width: 28px;
                        height: auto;
                    }

                }
            }

            &:hover .overlay {
                opacity: 1;
            }
        }
    }

    .switch {
        background: $color-black;
        margin-top: 100px;

        .switch-wrapper {
            margin-top: 22px;

            p {
                color: $gold-yellow;
                text-transform: capitalize;
                font-family: $body-font-medium;
                font-size: 22px;

            }

            .common-wrapper {

                .switch-content-wrapper {
                    font-family: $heading-font;
                    color: $gold-yellow;
                    text-transform: capitalize;
                    text-align: center;
                    border-right: 1px solid $gold-yellow;

                    @include mv-media(max, 767px) {
                        border-right: none;
                    }

                    h2 {
                        font-size: 90px;
                        background: linear-gradient(to right, #d59c53 30%, #a43e2d 70%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;

                        @include mv-media(max, 767px) {
                            font-size: 60px;
                        }

                    }

                }


                &:nth-child(3) {

                    .switch-content-wrapper {
                        border: none;


                    }

                }
            }
        }
    }
}

#collection_gallery {
    .modal-dialog {
        margin-top: 2%;

        @include mv-media(min, 768px) {
            width: 500px;
        }

        .close {
            position: absolute;
            top: -1;
            right: -40px;
            width: 40px;
            height: 40px;
            line-height: 35px;
            font-size: 35px;
            opacity: 1;
            background: #000;
            z-index: 99;
            text-shadow: none;
            color: $gold-yellow;
        }

        .modal-content {
            border-radius: 0px;
            border: 0px;
        }
    }

    .modal-body {
        padding: 0;
        background-color: #111111;

        .product_code_wrapper {

            margin-top: 50px;


            .product_code {
                padding-top: 15px;
                padding-left: 15px;
                color: $gold-yellow;
                letter-spacing: 2px;
                font-family: $body-font-regular;
            }

            .input-field {
                input {
                    letter-spacing: 2px;
                    font-family: $body-font-regular;
                    color: #fff;
                }

                label {
                    padding-left: 15px;
                    color: #c5c3c3;
                    letter-spacing: 2px;
                    font-family: $body-font-regular;
                    width: 100%;
                }

                label:not(.label-icon).active {
                    transform: translateY(-5px) scale(0.8);
                    transform-origin: 0 0;
                }
            }

            .rounded-btn {
                width: 120px;
                //                float: right;
                padding: 5px;
                margin-bottom: 10px;
                margin-top: 15px;
            }

            .item {
                height: 100%;
                background-color: #111111;
            }

            .slick-prev,
            .slick-next {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #000;
                color: $gold-yellow;
                z-index: 99;

                &:before {
                    opacity: 1;
                    color: $gold-yellow;
                }
            }

            .slick-prev {
                left: -60px;
            }

            .slick-next {
                right: -60px;
            }


        }
    }
}
