#overview {
    position: relative;
    overflow: hidden;

    .heading h2 {
        display: inline-block;
        position: relative;
    }

    .content {
        position: relative;

        .item {
            margin-bottom: 30px;

            h3 {
                color: #fff;
                font-family: $heading-font;
                font-size: 90px;
                line-height: 75px;
                margin: 0;
                margin-bottom: 10px;
                color: $gold-yellow;
                background: linear-gradient(to right, #d59c53 30%, #a43e2d 70%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                @include mv-media(max, 767px) {
                    font-size: 50px;
                    line-height: 40px;
                }
            }

            .sub_head {
                font-family: $body-font-medium;
                margin: 20px 0;
                font-size: 18px;
                letter-spacing: 2px;
                color: #fff;
                margin-top: 30px;
                color: $gold-yellow;
                background: linear-gradient(to right, #d59c53 30%, #a43e2d 70%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

            }

            p {
                margin-bottom: 20px;
                font-size: 14px;
                font-family: $body-font;
                color: white;
                //                background: linear-gradient(to right, #d59c53 30%, #a43e2d 70%);
                //                -webkit-background-clip: text;
                //                -webkit-text-fill-color: transparent;

            }
        }

    }

    .diamond {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 320px;
        height: auto;
    }

    .desc {
        ul.custom-circle {

            li {
                list-style-type: circle;
                color: white;
                padding-top: 10px;
                padding-left: 10px;
                margin-left: 15px;
            }
        }

        .margin-top-custom-desc {
            margin-top: 20px;
        }

    }

}