.hamburge-menu {
    position: fixed;
    background-color: transparent;
    color: $gold-yellow;
    width: 45px;
    height: 45px;
    top: 50%;
    left: 1%;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    z-index: 1000;
    text-align: center;

    @include mv-media(max, 991px) {
        top: 22px;
        right: 2%;
        left: auto;
    }


    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 1px;
        background-color: $gold-yellow;
        margin: 4px 4px;
        transition: 0.4s;

    }

    .menu-text {
        margin-top: 5px;
        transition: 0.4s;
    }

    .bar2 {
        opacity: 0;
    }
}

.hamburge-open {
    .bar1 {
        width: 14px;
        height: 1px;
        background-color: $gold-yellow;
        margin: 4px 4px;
        transition: 0.4s;
        -webkit-transform: rotate(-30deg) translate(-4px, 7px);
        -o-transform: rotate(-30deg) translate(-4px, 7px);
        -moz-transform: rotate(-30deg) translate(-4px, 7px);
        transform: rotate(-30deg) translate(-4px, 7px);
    }

    .bar2 {
        opacity: 1;
        -webkit-transform: rotate(0deg) translate(0px, 7px);
        -o-transform: rotate(0deg) translate(0px, 7px);
        -moz-transform: rotate(0deg) translate(0px, 7px);
        transform: rotate(0deg) translate(0px, 7px);
    }

    .bar3 {
        width: 14px;
        height: 1px;
        background-color: $gold-yellow;
        margin: 4px 4px;
        transition: 0.4s;
        -webkit-transform: rotate(50deg) translate(4px, 5px);
        -o-transform: rotate(50deg) translate(4px, 5px);
        -moz-transform: rotate(50deg) translate(4px, 5px);
        transform: rotate(35deg) translate(4px, 5px);
    }

    .menu-text {
        margin: 15px 4px 0;
    }
}

.menuBar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-image: url("../img/menu-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: block;
    transition: 1s;
    text-align: center;

    @include mv-media(max,
    991px) {
        right: -100%;
        left: auto;
    }


    .menuList {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        bottom: 0;
        height: 100%;

        a.logo {
            display: inline-block;
            width: 175px;
            padding-top: 25px;
            padding-bottom: 25px;
            margin-bottom: 30px;

            @include mv-media(max,
            767px) {
                width: 120px;
                padding-top: 15px;
                padding-bottom: 15px;
                margin-bottom: 0px;
            }

            img {
                width: 100%;
            }
        }

        .menuPagelist {
            margin: 0px 0 50px;
            font-family: $heading-font;
            text-transform: capitalize;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;

            ul#menuProduct {
                li {
                    margin-bottom: 5px;
                    font-size: 35px;
                    font-family: "raleway-regular";
                    line-height: 1.5;
                    text-transform: uppercase;

                    @include mv-media(max,
                    767px) {
                        font-size: 45px;
                        margin-bottom: 0;
                    }

                    @media only screen and (min-width: 320px) and (max-width: 500px) and (orientation: portrait) {
                        font-size: 20px;
                    }

                    img {
                        margin: 0 auto 20px;
                        width: 75px;

                        @include mv-media(max, 767px) {
                            margin: 0 auto 10px;
                            width: 65px;
                        }
                    }

                    a {
                        color: #a0827e;
                        @include transition;
                        text-decoration: none;

                        &.first-let {
                            &:first-letter {
                                font-size: 50px;
                            }
                        }

                        &:hover {
                            color: #51140c;
                        }
                    }
                }
            }
        }
    }

    ul.menulist_horizontal {
        margin-top: 20px;
        width: 32%;
        margin: auto;

        @include mv-media(max,
        767px) {
            width: 100%;
        }

        @include mv-media(768px,
        991px) {
            width: 100%;
        }

        @include mv-media(992px,
        1199px) {
            width: 62%;
        }

        li {
            color: #51140c;
            text-transform: uppercase;
            font-family: $body-font-regular;
            font-size: 14px;
            letter-spacing: 2px;
            border-right: 1.2px solid #51140c;
            margin-bottom: 15px;

            @media only screen and (min-width: 320px) and (max-width: 500px) and (orientation: portrait) {
                display: block;
                border: 0px;
                margin-top: 10px;
                font-size: 12px;
                line-height: 14px;
            }

            a {
                position: relative;
                color: #51140c;
                @include transition;
                padding: 0;

                &:before {
                    content: "";
                    position: absolute;
                    width: 0;
                    bottom: -5px;
                    transition: ease all .3s;
                    border-bottom: solid 1px #51140c;
                }

                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
            }

            &:last-child {
                border-right: 0px solid #51140c;
            }
        }
    }

    .social-list {
        position: absolute;
        bottom: 5%; // @include mv-media(max,350px) {

        // 	bottom: 15%;
        // }
        ul {
            position: relative;
            bottom: 0;

            li.social-icons {
                background-image: url(../img/social_bg_menu.png);
                display: inline-block;
                background-repeat: no-repeat;
                text-align: center;
                padding: 0;
                margin: 0 8px;

                a {
                    color: #c9904e;
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    line-height: 35px;

                    img {
                        position: relative;
                        top: 3px;
                    }

                }

                &:first-child a img {
                    top: 5px;
                }
            }
        }
    }

    .menu-product {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
        @include transition;

        @include mv-media(max,
        767px) {
            width: 100px;
            height: auto;
        }
    }

}






.slideMenu {
    left: 0;
    z-index: 999;

    @include mv-media(max,
    991px) {
        left: auto;
        right: 0;
    }
}
