#spotlight{
	position: relative;

	.heading{
		h2{
			position: relative;
			display: inline-block;
			@include mv-media(max,767px) {
				font-size: 110px;
			}
			@include mv-media(max,700px) {
				font-size: 85px;
			}
			@include mv-media(320px,340px) {
				font-size: 75px;
			}
			.ring{
				position: absolute;
			    top: 20px;
			    right: -150px;
			    transform: translateX(-50%);
			    width: 100px;
			    height: auto;
			    @include mv-media(max,767px) {
					width: 65px;
					right: -100px;
				}
			    @include mv-media(max,700px) {
					width: 50px;
    				right: -75px;
				}
			    @include mv-media(320px,340px) {
					width: 50px;
    				right: -75px;
				}
			}
		}
	}

	.media_gallery{
		position: relative;
		text-align: center;

		.show_grid{
			display: none;
		}

		.loadMore{
			position: relative;
			width: 90px;
			height: 90px;
			display: inline-block;
			border-radius: 50%;
			z-index: 9;
			background-image: url(../img/spotlight/load.png);
			background-size: cover;
			background-repeat: no-repeat;
			.addbox{
				position: absolute;
				width: 70px;
				height: 70px;
				background-color: #b8874b;
				color: #fff;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				text-align: center;
				padding: 25px 0;

				img{
					width: 20px;
				}
			}

		}

		.main_img_Wrap{
			display: block;
			margin-bottom: 30px;
			@include mv-media(max,767px) {
				margin-bottom: 10px;
			}
			img{
				margin: 0 auto;
				@include mv-media(max,767px) {
					padding: 15px;
				}
			}
		}

	}

}
