#thank-you{
    display: table;
    width: 100%;
    height: 100vh;
    @include mv-media(max, 767px) {
        height: 56.5vh;
    }
    .content{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        .top-space{
            margin-top: 20px;
        }
    }
}