#upcoming-event{
	
	.upcoming-event-section{
		height: calc(100vh);

		@include mv-media(max,767px) {
			height: auto;
			min-height: calc(100vh);
		}

		.heading {
			h2 {
				text-align: center;
				padding-top: 40px;
				padding-bottom: 60px;
				@include mv-media(max,767px) {
					font-size: 110px;
				}
				@include mv-media(max,700px) {
					font-size: 80px;
				}
				@include mv-media(320px,340px) {
					font-size: 75px;
				}
			}
		}

		img{
			margin: 0 auto;
		}

		p{
			// font-family: $body-font-regular;
			text-align: center;
			margin-top: 20px;

			@include mv-media(max,767px) {
				margin-top: 0px;
				margin-bottom: 20px;
			}
		}
	}

}
