#jewellery-care {
    .heading {
        h2 {
            font-size: 200px;
            line-height: 150px;

            @include mv-media(max, 767px) {
                font-size: 110px;
                line-height: 65px;
            }

            @include mv-media(max, 700px) {
                font-size: 80px;
            }

            @include mv-media(320px, 340px) {
                font-size: 75px;
                line-height: 75px;
            }
        }

        h6 {
            font-size: 65px;

            @include mv-media(max, 767px) {
                font-size: 25px;
            }
        }

        h2,
        h6 {
            text-align: center;
            font-family: $heading-font;
            text-transform: capitalize;
            margin: 0;
            background: linear-gradient(to right, #d59c53 30%, #a43e2d 70%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        p {
            text-align: justify;
            margin-bottom: 20px;
            @include mv-media(max, 767px) {
                font-size: 12px;
            }
        }
    }

    .jewellery-content {
        .row {
            padding: 20px 0;
            margin: 0;
        }

        .jewellery-desc {
            display: table;
            width: 100%;
            background-color: #280e15;

            .odd {
                text-align: right;

                @include mv-media(max, 960px) {
                    text-align: left;
                }
            }

            .jewellery-desc-content {
                display: table-cell;
                vertical-align: middle;
                padding: 0 50px;
                @include mv-media(max, 768px) {
                    padding: 20px;
                }

                h5 {
                    margin: 0;
                    font-size: 65px;
                    line-height: 50px;
                    font-family: $heading-font;
                    text-transform: capitalize;
                    color: white;
                    @include mv-media(max,767){
                        font-size: 40px;
                        line-height: 30px;
                    }
                }

                p {
                    padding-top: 20px;
                    @include mv-media(max, 767px) {
                        font-size: 12px;
                    }        
                }
            }
        }
    }
}