/*	==========================================================================
	Author: Mvishal Shukla
	Updated: --/--/--
	Notes: Hand Coded SCSS.
	========================================================================== */

/*	==========================================================================
	Table of Contents For Base:
	    #Font Setting
		#html, body
		#Horizontal Space
		    *h-small-space
		    *h-medium-space
		    *h-large-space
		#Top-align
		#Vertical-align
		#Bottom-align
		#Responsive Grid
		#TextField
		#TextArea
		#SelectBox
	========================================================================== */

/*	==========================================================================
		#Font Setting

	========================================================================== */

@font-face {
    font-family: 'raleway-thin';
    src: url(../fonts/Raleway-Thin.ttf);
}

@font-face {
    font-family: 'raleway-extralight';
    src: url(../fonts/Raleway-ExtraLight.ttf);
}


@font-face {
    font-family: 'raleway-medium';
    src: url(../fonts/Raleway-Medium.ttf);
}


@font-face {
    font-family: 'raleway-regular';
    src: url(../fonts/Raleway-Regular.ttf);
}


@font-face {
    font-family: 'strike-your-path';
    src: url(../fonts/Strike-your-Path.ttf);
}

@font-face {
    font-family: 'Lato-Black';
    src: url(../fonts/Lato-Black.ttf);
}


/*	==========================================================================
		#html,body
	========================================================================== */

* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    background-color: $color-white;

    body {
        // height: 100%;
        background-color: #311419;
        font-family: $body-font;
        // background-image: url('../img/body_bg.jpg');
        // background-size: cover;
        // background-position: center;
        // font-size: $font-normal-text;
        // min-height: 100%;

    }
}

/*	==========================================================================
		#Horizontal Space
	========================================================================== */

.h-small-space {
    height: $height-small-space;
}

.h-medium-space {
    height: $height-medium-space;
}

.h-large-space {
    height: $height-large-space;
}

/*	==========================================================================
		#Top-align
	========================================================================== */

.top-align-container {
    @include mv-align(inner-talign-container,
    top);
}


/*	==========================================================================
		#Vertical-align
	========================================================================== */

.vertical-align-container {
    @include mv-align(inner-valign-container,
    middle);
}

/*	==========================================================================
		#Bottom-align
	========================================================================== */

.bottom-align-container {
    @include mv-align(inner-balign-container,
    bottom);
}

/*	==========================================================================
		#Responsive Grid
	========================================================================== */

.grid-container {
    @include mv-border;
    box-sizing: border-box;
    width: 100%;

    &:after {
        content: "";
        clear: both;
        display: block;
    }

    .grid {
        box-sizing: border-box;
        width: (100%/3);
        float: left;
        height: 50px;
        @include mv-border;
        padding: 0 30px;

        @include mv-media(max,
        600px) {
            width: 100%;
            padding-bottom: 30px;
        }

        ;
    }
}

/*	==========================================================================
		#TextField
	========================================================================== */

input[type="text"] {
    box-sizing: border-box;
}

/*	==========================================================================
		#TextArea
	========================================================================== */

textarea {
    box-sizing: border-box;
}

/*	==========================================================================
		#SelectBox
	========================================================================== */

select {
    box-sizing: border-box;
}

input[type=email]:not(.browser-default):focus:not([readonly]) {
    border-bottom: none !important;
    box-shadow: none !important;
}

#animation_container {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


a:hover {
    text-decoration: none;
}

/* ============================================ Input ============*/

// input:not([type]):focus:not([readonly]) + label,
// input[type=text]:not(.browser-default):focus:not([readonly]) + label,
// input[type=password]:not(.browser-default):focus:not([readonly]) + label,
// input[type=email]:not(.browser-default):focus:not([readonly]) + label,
// input[type=url]:not(.browser-default):focus:not([readonly]) + label,
// input[type=time]:not(.browser-default):focus:not([readonly]) + label,
// input[type=date]:not(.browser-default):focus:not([readonly]) + label,
// input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
// input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
// input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
// input[type=number]:not(.browser-default):focus:not([readonly]) + label,
// input[type=search]:not(.browser-default):focus:not([readonly]) + label,
// textarea.materialize-textarea:focus:not([readonly]) + label {
//     // color: $form-text;
//     border-bottom: 1px solid #5c5659;
// }


input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    border-bottom: 1px solid #5c5659;
}


.padd-lr-no {
    padding-left: 0px;
    padding-right: 0px;
}



.mar-t-20 {
    margin-top: 20px;
}

.padd-lr-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.no-lr-padd {
    padding-left: 0px;
    padding-right: 0px;
}

// Heading text

.heading {
    position: relative;

    h2 {
        font-family: $heading-font;
        color: #d7a156;
        text-transform: capitalize;
        font-size: 150px;
        margin: 0;
        background: linear-gradient(to right, #d59c53 30%, #a43e2d 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include mv-media(max, 767px) {
            font-size: 100px;
        }

        @include mv-media(max, 340px) {
            font-size: 80px;
        }

        span {
            text-transform: lowercase;
        }

    }
}

//Rounded Button
.rounded-btn {
    min-width: 150px;
    background: transparent;
    border: 1px solid $gold-yellow;
    border-radius: 18px;
    font-size: 14px;
    font-family: $body-font;
    text-transform: uppercase;
    color: $color-white;
    letter-spacing: 4px;
    margin-bottom: 30px;
    @include transition;

    &:hover {
        background: $gold-yellow;
        color: #fff;
    }
}

//Modal Blackdrop
.modal-backdrop.in {
    opacity: 0.85
}

.loader_overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 1000;

    .loader_spinner {
        position: absolute;
        top: calc(50% - 60px);
        left: calc(50% - 60px);
        border: 5px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        border-top: 5px solid green;
        border-left: 5px solid orange;
        border-bottom: 5px solid pink;
        border-right: 5px solid blue;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
}



/* width */
::-webkit-scrollbar {
    width: 5px;
    background: #31131b;
}

/* Track */
::-webkit-scrollbar-track {
    //    box-shadow: inset 0 0 5px grey;
    border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a03629;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darken(#a03629, 5%);
}

//page loader
.page-loader {
    position: fixed;
    background: #fff;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 9999;
    text-align: center;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

//logo on lightbox images
.lg-image {
    position: relative;
}

.gallery-logo {
    // position: absolute;
    // width: 80%;
}

//slick arrows
.slick-prev,
.slick-next {
    width: 40px;
    height: 40px;
    text-align: center;


    &:before {
        font-size: 30px;
    }
}

.slick-prev {
    left: -45px;
}

.slick-next {
    right: -45px;
}
