<footer>
    <div class="container">
        <div class="row middle-align-section">
            <div class="col-xs-12 col-md-4 col-sm-4 text-center">
                <p>copyright &copy; Rosentiques 2020</p>
            </div>

            <div class="col-xs-12 col-md-4 col-sm-4 text-center">
                <ul class="list-inline">
                    <li class="social-icons"><a href="https://www.facebook.com/rosentiques/" target="_blank"><img src="dist/img/fb.png" /></a></li>
                    <li class="social-icons"><a href="https://www.linkedin.com/in/rosentiques-fine-jewellery-b82a77163/" target="_blank"><img src="dist/img/linkedin.png" /></a></li>
                    <li class="social-icons"><a href="https://www.instagram.com/rosentiquesjewellery/?hl=en" target="_blank"><img src="dist/img/insta.png" /></a></li>
                </ul>
            </div>

            <div class="col-xs-12 col-md-4 col-sm-4 text-center">
                <!--                <p>Designed &amp; Developed by <a href="http://www.ting.in/" target="_blank">TING</a></p>-->
                <a href="https://www.ting.in/" target="_blank">
                    <div class="foot-right ting-unit-wrap">
                        <div class="made-by-text">
                            <p>made</p>
                            <p>by</p>
                        </div>
                        <img src="dist/img/ting-img.png" class="img-responsive">
                    </div>
                </a>
            </div>
        </div>
    </div>
</footer>
