<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="description" content="">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<meta property="og:site_name" content="ROSENTIQUES">
<meta property="og:type" content="jewellery">
<meta property="og:url" content="https://www.rosentiques.com/">
<meta property="og:title" content="ROSENTIQUES">
<meta property="og:description" content="The House of Rosentiques is in the elite and artistic business of designing and manufacturing fine jewellery. True to the acclaimed name behind the leading brands like Amolya and Nazaqat,">
<meta property="og:image" content="dist/img/rosentiques.jpg">

<title>Rosentiques</title>

<link rel="icon" href="dist/img/Rosentique-Fevicon.png" type="image" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<link rel="stylesheet" href="dist/css/app.min.css" />




<!--[if lt IE 9]>
	<script src="js/vendor/html5-3.6-respond-1.4.2.min.js"></script>
<![endif]-->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130566299-10"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130566299-10');
</script>
