<div class="hamburge-menu">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <div class="menu-text text-uppercase">menu</div>
</div>

<div class="menuBar">
    <div class="menuList">
        <div class="col-xs-12">
            <a href="index.php" class="logo">
                <img src="dist/img/logo.png" />
            </a>
        </div>

        <div class="menuPagelist col-xs-12 text-center">
            <ul id="menuProduct">
                <li><a href="polki.php" data-img="polki.png" class="first-let">Mukhlasi Polki Jewellery </a></li>
                <li><a href="amolya.php" data-img="amolya.png" class="first-let">Amolya Diamond Jewellery</a></li>
                <li><a href="nazaqat.php" data-img="nazakat.png" class="first-let">Nazaqat Jadau Jewellery</a></li>
                <!-- <li><a href="JavaScript:Void(0);" data-img="" class="first-let">Rosa Amoris Rosecut Jewellery</a></li> -->
                <li><a href="platinum.php" data-img="platinum.png" class="first-let">platinum</a></li>
                <!-- <li><a href="b2b.php" class="first-let"><img src="dist/img/b2b/header-logo.png" class="img-responsive"></a></li> -->
            </ul>
            <ul class="list-inline menulist_horizontal">
                <li><a href="overview.php">overview</a></li>
                <li><a href="journey.php">journey</a></li>
                <li><a href="edge.php">rosentiques edge</a></li>
                <li><a href="awards.php">Awards & Accolades</a></li>
                <li><a href="upcoming.php">Upcoming Events</a></li>
                <li><a href="jewellery-care.php">jewellery care</a></li>
                <li><a href="contact.php">contact us</a></li>
            </ul>
        </div>
        <div class="menu-product">
            <!--           <img src="dist/img/menu-deafult.png" class="menu-deafult-img img-responsive">-->
            <img src="" class="menu-product-img img-responsive">
        </div>
        <div class="col-xs-12 text-center social-list">
            <ul class="list-inline">
                <li class="social-icons"><a href="https://www.facebook.com/rosentiques/" target="_blank"><img src="dist/img/fb.png" /></a></li>
                <li class="social-icons"><a href="https://www.linkedin.com/in/rosentiques-fine-jewellery-b82a77163/" target="_blank"><img src="dist/img/linkedin.png" /></a></li>
                <li class="social-icons"><a href="https://www.instagram.com/rosentiquesjewellery/?hl=en" target="_blank"><img src="dist/img/insta.png" /></a></li>
            </ul>
        </div>
    </div>
</div>
